.slideTrack{
    animation: scroll 40s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }100%{
        transform: translateX(calc(-250px*10));
    }
}
.slideTrack:hover {
    animation: scroll 80s ease-in-out infinite; /* Update the duration and timing function to slow down the animation */
}