.slideTrack{
    animation: scroll 40s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }50%{
        transform: translateX(calc(-250px*10));
    }100%{
        transform: translateX(calc(250px*10));
    }
}