.autocomplete {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgb(0,0,0,0.3);
  }
  
  .autocompleteItems {
    border-bottom: 1px solid #e6e666;
    padding: 10px 5px;
    cursor: pointer;
    color: dodgerblue;
    font-weight: bold;
  }